# Default owners for everything in the repository
* @ownctrl

# Workflow templates and GitHub Actions
/.github/ @ownctrl
/workflow-templates/ @ownctrl

# Security policy
/SECURITY.md @ownctrl

# Documentation
*.md @ownctrl
